/*!
Our CSS styles
 */

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 250px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.fix_height {
    height: 80px;
}

.mright {
    margin-right: 20px !important;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

@media (min-width: 1200px) {
    .big_container {
        width: 90% !important;
    }
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1.2px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }